$font-size-base: 13px;
$font-size-h3: 15px;
$font-size-h5: 17px;

$brand-primary: #0E3868;
$font-family-sans-serif: 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
$btn-primary-bg: #C8E700;
$btn-primary-color: #0E3868;
$navbar-default-bg: #293E66;
$navbar-height: 60px;
$well-bg: #FFF4D8;
$panel-default-heading-bg: #FFDC80;

@import 'bootstrap';

@import 'blacklight/blacklight';

.collapse, .collapsing {
	margin-top: 10px;
}

.navbar-brand {
	background: transparent url(/assets/ncampan/accesstonsdl-results-logo.png) no-repeat top left !important;
	width: 410px !important;
	height: 43px !important;
}

.navbar-subtitle {
	margin-left: 226px;
}

.navbar-right {
    a {
      color: #0E3868 !important;
    }
	a:hover {
	  color: #000000 !important;
	  text-decoration: underline !important;
    } 
}

#header-navbar {
	background: #FFFFFF;
}

#search-navbar .input-group {
	margin-left: 5px;
}

#landing_copy  {
      margin: 0px 0 12px 20px;
      font-size: 13px;
      ul, #ft ul {
      	   list-style-type: none;
   		   padding: 0;
   		   width: 400px;
      }
}

#sponsorship ul {
  margin: 0px 0 12px 6px;
  list-style-type: none;
  clear: both;
  display: none;
}

body.landing #sponsorship ul.logos { display: block; }

#sponsorship ul.links {
  display: block;
  padding-top: 22px;
}

#sponsorship ul.links li.links {
  float:left;
  margin-right: 30px;
}

#sponsorship ul.logos li {
  float: left;
}

ul.logos {
  list-style-type: none;
  display: flex;
}

#sponsorship ul.links a {
  color: #555555;
}