<div id="sponsorship">
  <ul class="logos">
    <li><a href="http://ncam.wgbh.org/" target="_blank"><img src="<%= asset_path('ncampan/ncam_logo.gif') %>" alt="WGBH Carl and Ruth Shapiro Family National Center for Accessible Media" /></a></li>
    <li><a href="http://nsf.gov" target="_blank"><img src="<%= asset_path('ncampan/nsf_logo.gif') %>" alt="National Science Foundation" /></a></li>
  </ul>
  <ul class="links">
    <li><a href="/about.html">About Access to NSDL</a></li>
    <li><a href="http://ncam.wgbh.org/" target="_blank">Hosted by WGBH Educational Foundation</a></li>
    <li><a href="http://nsf.gov/" target="_blank">Funding Provided by the National Science Foundation</a></li>  
  </ul>
</div>