<div id="sponsorship">
  <ul class="links">
    <li><a href="/about.html">About Access to NSDL</a></li>
    <li><a href="http://ncam.wgbh.org/" target="_blank">Hosted by WGBH Educational Foundation</a></li>
    <li><a href="http://nsf.gov/" target="_blank">Funding Provided by the National Science Foundation</a></li>  
  </ul>
</div>