<!-- h3><%= t(:welcome) %></h3 -->
<!--
<p>To modify this text to your specifications, copy this file located in the blacklight plugin directory:<br/>
&nbsp;&nbsp;&nbsp;<%= Blacklight.root %>/app/views/catalog/_home_text.html.erb</p>
<p>to your top level rails app:<br/>
&nbsp;&nbsp;&nbsp;<%= Rails.root %>/app/views/catalog/_home_text.html.erb</p>
Note that you will need to create the 'catalog' directory under views.
-->
<div id="landing_copy">
<h3>Find resources with:</h3>
<ul class="feature_list">
  <li>Captions</li>
  <li>Keyboard Control</li>
  <li>Transcripts</li>
  <li>Mouse Control</li>
  <li>Audio Descriptions</li>
  <li>Color Not Required</li>
  <li>Text Descriptions</li>
  <li>Useful Without Vision or Sound</li>
</ul>
</div><!-- //#landing_copy -->
