<div id="landing_copy">
	<p>Access to NSDL is a unique portal that provides accessibility information about resources selected from the National STEM Digital Library and elsewhere. The site offers resources from Teachers’ Domain, Middle School Math and Science Portals, and other partners. More partners can join at any time by providing accessibility metadata to the project, so the range of the portal’s offerings will grow over time. If you are interested in being a partner in this project, please contact us at <a href="mailto:ncam@wgbh.org">ncam@wgbh.org</a></p>
</div>