<div id="landing_copy">
<h3>Find resources with:</h3>
<ul class="feature_list">
  <li>Captions</li>
  <li>Keyboard Control</li>
  <li>Transcripts</li>
  <li>Mouse Control</li>
  <li>Audio Descriptions</li>
  <li>Color Not Required</li>
  <li>Text Descriptions</li>
  <li>Useful Without Vision or Sound</li>
</ul>
</div>
<div>
<ul class="logos">
  <li><a href="http://ncam.wgbh.org/" target="_blank"><img src="<%= asset_path('ncampan/ncam_logo.gif') %>" alt="WGBH Carl and Ruth Shapiro Family National Center for Accessible Media" /></a></li>
  <li><a href="http://nsf.gov" target="_blank"><img src="<%= asset_path('ncampan/nsf_logo.gif') %>" alt="National Science Foundation" /></a></li>
</ul>
</div>